<h1>Log in</h1>
<%= link_to "Sign in with Github", "/auth/github" %>
<%= form_tag :sessions do %>
  <label>Username</label>
  <%= text_field_tag :'user[username]' %>

  <br></br>

  <label>Password</label>
  <%= password_field_tag :'user[password]'%>

  <br></br>

  <%= submit_tag 'Sign In' %>
<% end %>
