<section class="todoapp">
	<header class="header">
		<center>
			<%= link_to 'Prev', house_path(@house.prev), :class => "js-prev", :"data-attribute" => @house.id %>
			<%= link_to 'Next', house_path(@house.next), :class => "js-next", :"data-attribute" => @house.id %>
		</center>

		<h1><%= @house.name %></h1>
		<h2>The cleanest house in <%= @house.city %>!</h2>
		<br></br>



		<div id="chore-assignment-form">
			<%= form_for(@house_chore) do |f| %>
				<%= f.label "Add a Chore:" %>
				<%= f.collection_select :chore_id, Chore.all, :id, :name%>
	      <%= f.hidden_field :house_id, :value => @house.id %>
				<%= f.submit "Add", :class => "submit" %>
			<% end %>
		</div>

	</header>

	<section class="main">
		<ul class="todo-list">
			<% if @house_chore %>
			  <% @house_chores.each do |house_chore| %>
			  <li>
			    <div class="view">
			      <label><%= link_to house_chore.chore.name, house_chore_path(house_chore) %></label>
			      <%= button_to "x", house_chore_path(house_chore), method: :delete, :class => "destroy" %>
			    </div>
			  </li>
			  <% end %>
			<% end %>
		</ul>
	</section>
	<footer class="footer">

	</footer>
</section>
