<section class="todoapp">
	<header class="header">
		<h1><%= @house.name %></h1>

			<%= form_for(@house_chore) do |f| %>
				<%= f.collection_select :chore_id, Chore.all, :id, :name %>
	      <%= f.hidden_field :house_id, :value => @house.id %>
				<%= f.submit "Select Chore", :class => "submit" %>
			<% end %>

	</header>

	<section class="main">
		<ul class="todo-list">
			<% if @house_chore %>
				<% @house_chores.each do |house_chore| %>
				<li>
					<div class="view">
						<label><%= link_to house_chore.chore.name, house_chore_path(house_chore) %></label>
						<%= button_to "x", house_chore_path(house_chore), method: :delete, :class => "destroy" %>
					</div>
				</li>
				<% end %>
			<% end %>
		</ul>
	</section>
	<footer class="footer">
		<% @users.each do |user| %>
		<%= user.email %>
		<% end %>
	</footer>
</section>
