

<h1>Sign Up!</h1>

<%= form_for(@user) do |user_builder| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= user_builder.label :name %>
    <%= user_builder.text_field :name %>
  </p>
  <p>
    <%= user_builder.label :email %>
    <%= user_builder.text_field :email %>
  </p>
  <p>
    <%= user_builder.label :password %>
    <%= user_builder.password_field :password %>
  </p>
  <p>
    <%= user_builder.label :password_confirmation %>
    <%= user_builder.password_field :password_confirmation %>
  </p>
  <%= user_builder.fields_for :house do |house_builder| %>
  <fieldset>
    <legend>House (name required, City only required for new Houses)</legend>
    <p>
      <%= house_builder.label :name %>
      <%= house_builder.text_field :name %>
    </p>
    <p>
      <%= house_builder.label :city %>
      <%= house_builder.text_field :city %>
    </p>
  </fieldset>
  <% end %>

  <%= user_builder.label :admin %>
  <%= user_builder.check_box :admin %>
  <%= user_builder.submit %>
<% end %>
