<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<section class="todoapp">
	<header class="header">
		<h1><%= @house_chore.chore.name %></h1>
		<%= form_for([@house_chore, @task]) do |f| %>
			<%= f.text_field :description, :class => "new-todo", :placeholder => (@task.errors.full_messages_for(:description).first || "Create a new chore task..." ) %>
			<%= f.submit :class => "hidden" %>
		<% end %>
	</header>

	<section class="main">
		<ul class="todo-list">
      <% @house_chore.tasks.each do |task| %>
      <li>
        <div class="view">
          <label><%= task.description %></label>
          <%= button_to "x", house_chore_task_path(task.house_chore, :task_id => task.id), method: :delete, :class => "destroy" %>
        </div>
      </li>
      <% end %>
      <%= render :partial => "house_chores/house_chores_form", :locals => { :house_chore => @house_chore, :user_chore => @user_chore, :users => @users } %>
		</ul>

	</section>

	<footer class="footer">

	</footer>
</section>
