<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<section class="todoapp">
	<header class="header">
		<h1><%= @house_chore.chore.name %></h1>
		<%= form_for([@house_chore, @task]) do |f| %>
			<%= f.text_field :description, :class => "new-todo", :placeholder => (@task.errors.full_messages_for(:description).first || "Create a new chore task..." ) %>
			<%= f.submit :class => "hidden" %>
		<% end %>
	</header>

	<section class="main">
		<ul class="todo-list">
      <% @house_chore.tasks.each do |task| %>
      <li class="task" id="task_<%= task.id %>">
        <div class="view">
          <label><%= task.description %></label>
<<<<<<< HEAD
          <%= button_to "x", [@house_chore, task] :method => :delete, :class => "destroy" %>
        </div>
      </li>
      <% end %>
		</ul>
    <div class="assignment-form">
      <%= form_for(@user_chore) do |f| %>
        <%= f.hidden_field :house_chore_id, :value => @house_chore.id %>
        <%= f.label :user %>
        <%= f.select :user_id, @users.collect { |u| [u.username, u.id] }, include_blank: true %>
        <%= f.label :due_date %>
        <%= f.date_select :due_date %>
        <%= f.submit "Assign a user to a chore" %>
      <% end %>
    </div>
=======
          <%= button_to "x", [@house_chore, task], :method => :delete, :class => "destroy" %>
        </div>
      </li>
      <% end %>

		</ul>
    <%= form_for(@user_chore) do |f| %>
      <%= f.hidden_field :house_chore_id, :value => @house_chore.id %>
      <%= f.label :user %>
      <%= f.select :user_id, @users.collect { |u| [u.username, u.id] }, include_blank: true %>
      <%= f.label :due_date %>
      <%= f.date_select :due_date %>
      <%= f.submit "Assign a user to a chore" %>
    <% end %>
>>>>>>> js

	</section>

	<footer class="footer">

	</footer>
</section>

<script id="task-template" type="text/x-handlebars-template">
  <li class="task" id="task_{{id}}">
    <div class="view">
      <label>{{description}}</label>
      <form class="button_to" method="post" action="/house_chores/<%= @house_chore.id %>/tasks/{{id}}">
        <input type="hidden" name="_method" value="delete">
        <input class="destroy" type="submit" value="x">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      </form>
    </div>
  </li>
</script>
