<%= li_for_user_chore(user_chore) do %>
  <div class="view">
    <%= form_for(user_chore) do |f| %>
      <%= f.check_box :status, :class => "toggle", :checked => user_chore.complete? %>
    <% end %>

    <label> <%= user_chore.house_chore.chore.name %> => <%= user_chore.user.username %>  due: <%= user_chore.due_date %> </label>



  </div>
<% end %>
