<%= li_for_user_chore(user_chore) do %>
  <div class="view">
    <%= form_for(user_chore) do |f| %>
      <%= f.check_box :status, :class => "toggle", :checked => user_chore.complete? %>
    <% end %>

    <h5> <%= user_chore.chore.name.split(@) %> => <%= user_chore.user.email %>  due: <%= user_chore.due_date %> </h5>
  </div>
<% end %>
