<li class="<%= "completed" if user_chore.complete? %>">
  <div class="view">
    <%= form_for(user_chore) do |f| %>
      <%= f.check_box :status, :class => "toggle", :checked => (true if user_chore.complete?)%>
    <% end %>
    <label><%= user_chore.user.username %> <%= user_chore.house_chore.chore.name %> <%= user_chore.due_date %></label>
  </div>
</li>
