<section class="todoapp">
	<header class="header">
		<h1><%= @chore.name %></h1>
		<%= form_for([@chore, @task]) do |f| %>
		<%= f.text_field :description, :class => "new-todo", :placeholder => (@task.errors.full_messages_for(:description).first || "Create a new chore task..." ) %>
		<%= f.submit :class => "hidden" %>
		<% end %>
	</header>

	<section class="main">
		<ul class="todo-list">
			<% @chore.tasks.each do |task| %>
			<li>
				<div class="view">
					<label><%= task.description %></label>
				</div>
			</li>
			<% end %>
		</ul>
	</section>
	<footer class="footer">
		<%= form_for(@user_chore) do |f| %>
			<%= f.hidden_field :chore_id %>
			<%= f.select("user_id", User.all.collect {|u| [ u.username, u.id ]}, {include_blank: 'None'}) %>
		<% end %>
	</footer>
</section>
