<section class="todoapp">
	<header class="header">
		<h1><%= @chore.name %></h1>
		<%= form_for([@chore, @task]) do |f| %>
		<%= f.text_field :description, :class => "new-todo", :placeholder => (@task.errors.full_messages_for(:description).first || "Create a new chore task..." ) %>
		<%= f.submit :class => "hidden" %>
		<% end %>
	</header>

	<section class="main">
		<ul class="todo-list">
			<% @chore.tasks.each do |task| %>
			<li>
				<div class="view">
					<label><%= task.description %></label>
					<%= button_to "x", chore_task_path(task.chore, :task_id => task.id), method: :delete, :class => "destroy" %>
				</div>
			</li>
			<% end %>
			<%= form_for (@user_chore) do |f| %>
				<%= f.hidden_field :chore_id, :value => @chore.id %>
				<%= f.label :user %>
				<%= f.collection_select :user_id, @users, :id, :email %>
				<%= f.label :due_date %>
				<%= f.date_select :due_date %>
				<%= f.submit "Assign a user to a chore" %>
			<% end %>

		</ul>

	</section>

	<footer class="footer">

	</footer>
</section>
