<section class="todoapp">
	<header class="header">
		<h1><%= @chore.name %></h1>
		<%= form_for([@chore, @task]) do |f| %>
		<%= f.text_field :description, :class => "new-todo", :placeholder => (@task.errors.full_messages_for(:description).first || "Create a new chore task..." ) %>
		<%= f.submit :class => "hidden" %>
		<% end %>
	</header>

	<section class="main">
		<ul class="todo-list">
			<% @chore.tasks.each do |task| %>
			<li>
				<div class="view">
					<label><%= task.description %></label>
				</div>
			</li>
			<% end %>
			<%= form_for(@user_chore) do |f| %>
				<%= f.hidden_field :chore_id, :value => @chore.id%>
				<%= f.collection_select(:user_id, @users, :id, :email, :include_blank => "Please select") %>
				<%#= select("user", "email", @users.collect {|u| [ u.email, u.id] }, {:prompt => 'Select User', :selected => :user_id}) %>
				<%= f.submit "Assign chore to user"%>
			<% end %>
		</ul>

	</section>

	<footer class="footer">

	</footer>
</section>
