<!DOCTYPE html>
<html>
  <head>
    <title>RailsChoresV000</title>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'%>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="nav">
      <ul>
          <li><%= link_to "Home", root_path %></li>
         <% if logged_in? %>
          <p class="nav">Logged in as: <%=link_to current_user.email, user_path(current_user) %></p>
          <li><%= link_to "#{current_user.house.name}", house_path(current_user.house)%></li>
          <li><%= link_to "Chore Cycle", user_chores_path, :class => "load_user_chores" %></li>
          <li><%= link_to "Overdue", overdue_path, :class => "overdue" %></li>
          <li><%= link_to "Chore List", chores_path %></li>
          <li><%= link_to 'Logout', logout_path, :method => :delete %></li>
        <% else %>
          <li><%= link_to "Sign In", login_path %></li>
          <li><%= link_to "Sign Up", new_user_path %></li>
        <% end %>
      </ul>

    </div>

    <div class="user_chores">
      <ol>

      </ol>
    </div>

    <div class="overdue_chores">
      <ol>

      </ol>
    </div>

  <div class="container"  role="main">

    <%= yield %>

  </div>
</html>
