<!DOCTYPE html>
<html>
  <head>
    <title>RailsChoresV000</title>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'%>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="top-navbar">
      <a href="<%= root_url %>"/>Home</a>
       <% if logged_in? %>
          <p class="top-navbar">Logged in as: <%= current_user.email %></p>
          <%= link_to "Chore List", chores_path %>
          <%= link_to "Current Chore Cycle", user_chores_path %>
          <%= link_to("Sign Out", destroy_user_session_path, :method => 'delete') %>
        <% else %>
          <%= link_to "Sign In", new_session_path %>
          <%= link_to "Sign Up", new_user_registration_path %>
        <% end %>
    </div>
  <div class="container"  role="main">

    <%= yield %>

  </div>
</html>
