<!DOCTYPE html>
<html>
  <head>
    <title>RailsChoresV000</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="top-navbar">
      <a href="<%= root_url %>"/>Home</a>
       <% if logged_in? %>
          <a href="#">Current Chore Cycle</a>
          <a href="/logout">Log Out</a>
        <% else %>
          <%= link_to "Sign In", new_session_path %>
          <%= link_to "Sign Up", new_user_path %>
        <% end %>
    </div>
  <div class="container"  role="main">

    <%= yield %>

  </div>
</html>
